In [2]:
import pandas as pd
import requests
from datetime import datetime

In [3]:
get_denuncias = requests.get("http://3.23.96.142:8080/denuncia")

df = pd.DataFrame(get_denuncias.json())
df = df.drop(columns=['link','mediaType'])
df

,identifier,nome,dataEnchente,local,relato,idade,mmChovido,previsao,dataDenuncia
0,1,maraba,2023-06-06,Imperador,não,20,0.0,0.0,2023-06-07
1,2,maraba,2023-06-05,Imperador,não,20,0.0,0.0,2023-06-07
2,3,leonardo,2023-06-05,Mina,não,23,0.0,0.0,2023-06-07
3,4,thomas,2023-06-06,Barbinos,não,22,0.0,0.0,2023-06-07

In [4]:
getMonth = lambda d: d.month

df['dataEnchente'] = pd.to_datetime((df['dataEnchente']),format='%Y-%m-%d')
df['dataDenuncia'] = pd.to_datetime((df['dataDenuncia']),format='%Y-%m-%d')

df['mesEnchente'] = df['dataEnchente'].apply(getMonth)
df['mesDenuncia'] = df['dataDenuncia'].apply(getMonth)

df

,identifier,nome,dataEnchente,local,relato,idade,mmChovido,previsao,dataDenuncia,mesEnchente,mesDenuncia
0,1,maraba,2023-06-06,Imperador,não,20,0.0,0.0,2023-06-07,6,6
1,2,maraba,2023-06-05,Imperador,não,20,0.0,0.0,2023-06-07,6,6
2,3,leonardo,2023-06-05,Mina,não,23,0.0,0.0,2023-06-07,6,6
3,4,thomas,2023-06-06,Barbinos,não,22,0.0,0.0,2023-06-07,6,6