In [1]:
import pandas as pd
import requests

In [5]:
get_denuncias = requests.get("https://3618-186-232-61-4.ngrok-free.app/denuncia")

df = pd.DataFrame(get_denuncias.json())

In [4]:
df

,identifier,nome,dataEnchente,local,relato,idade,mmChovido,previsao,dataDenuncia
0,3,maraba,2023-06-05,Imperador,foi foda,20,0.0,0.0,2023-5-6
1,4,alemagno,2023-06-10,Insper,chuveu em..,20,0.0,0.0,2023-5-6
2,5,josé,2023-06-04,Anny,não,12,0.0,0.0,2023-5-6
3,6,ju,2023-06-06,Mina,oi :d,18,0.0,0.0,2023-5-6
4,7,marcelinho,2023-06-06,Imperador,haha,19,0.0,0.0,2023-5-6